* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: black;
}
html {
    font-family: Helvetica, sans-serif;
}
body {
    font: 1em/1.618 Inter, sans-serif;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;
    
    color: #224;
    background:
        linear-gradient(to top, #d38312, #a83279)
      center / cover no-repeat fixed;
      /* animation: loaDing 1.5s linear infinite alternate; */
}
.all {
    width: 280px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    padding: 15px;
}
.header {
    animation: headerIn 0,2s linear;
    line-height: 25px;
    position: relative;
}
h3 {
    animation: leftIn .5s linear;
    font-size: 25px;
    font-style: bold;
    font-weight: 500;
}
.mode {
    border-radius: 15px;
    right: 0;
    background: transparent;
    top: 0;
    width: 30px;
    border: none;
    position: absolute;
}
.mode .icon {
    animation: In .5s linear;
    text-align: center;
    width: 20px;
}
.header p {
    animation: leftIn .6s linear;
    color: rgb(81, 81, 81);
}
.div {
    display: flex;
    align-items: center;
    animation: leftIn .7s linear;
    color: rgb(81, 81, 81);
}
.div p {
    padding-left: 3px;
}
.body {
    margin-top: 10px;
    max-width: 100%;
    position: relative;
}
.body-header {
    animation: imgIn .5s linear ;
    height: 150px;
    width: 100%;
    position: absolute;
}
.body-header img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}
.body-body {
    display: flex;
    margin-top: 170px;
    position: absolute;
}
.body__left {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
}
.social {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    padding: 30px 0 0 0;
}
.body__right {
    animation: imgIn .5s linear;
    width: 160px;
    display: none;
}
.body-right img {
    border-radius: 10px;
    border: 3px solid black;
}
.foot {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    margin-top: 460px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 3px solid black;
}
.foot {
    animation: leftIn .4s linear;
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #224;
    display: block;
}
.finish {
    bottom: 0;
}
a {
 display: inline-block;
 text-decoration: none;
 /* user-select: none; */
}
a:hover {
    transform: translateY(-2px);
}
.dark .all {
    background-color: rgba(147, 147, 147, 0.45);
    /* color: white; */
}
.moon {
    display: none;
}
.dark .moon {
    /* animation: In .5s linear; */
    display: block;
}
.dark .sun {
    display: none;
    /* animation: In .5s linear; */
}
.dark {
    /* animation: In .5s linear;     */
    /* color: white; */
    background-image: linear-gradient( to right,#485563 ,#29323c );
}
/* animation */
@keyframes imgIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes socialIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes leftIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes loaDing {
    0% {
        background-image: linear-gradient(to top, #d38312, #a83279);
    }
    100% {
        background-image: linear-gradient(to top, #a83279,#d38312);
    }
}
@keyframes In {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* reponsive */
@media screen and (min-width: 515px) {
    .body__right {
        display: block;
    }
    .all {
        width: 450px;
    }
}
